body {
  font-family: Roboto;
  color: #212121;
}

.web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
}

.link {
  color: #000;
  display: inline-block;
  padding-right: 15px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.all-order {
  background-color: #2f303a;
  color: #ffffff;
  align-items: center;
  padding-left: 442px;
}

.title-name {
  position: center;
  size: 44px;
  line-height: 60px;
}
.order {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  position: centre;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
}

.principles {
  display: inline-block;
  margin: 0 auto;
  padding-left: 10px;
  font-size: 14px;
  color: #757575;
  width: 270px;
  height: 75px;
}

div h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  display: flex;
}

.section-title {
  position: centre;
  left: 612px;
}

.section {
  display: inline-block;
  margin: 0 auto;
  padding-left: 30px;
  top: 1061px;
  left: 215px;
  position: centre;
  list-style-type: none;
  font-style: normal;
  position: centre;
}

.navi-class {
  display: inline-block;
  margin: auto;
}

.link-footer {
  background-color: #2f303a;
  color: #ffffff;
  align-items: center;
  padding-left: 442px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.logo-footer {
  color: #ffffff;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
}
.footer {
  color: #ffffff;
  margin: 0 auto;
  padding-left: 10px;
  text-decoration: none;
}
.button {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.order-1 {
  text-decoration: none;
  display: inline;
  position: centre;
}
.all-projects {
  display: inline;
  text-decoration: none;
}
